<div class="container">
    <div class="row">
        <h1 class="text-center">Registration</h1>
        <form class="col-md-4 col-md-offset-4" name="registrationForm" novalidate>
            <fieldset class="form-group" ng-class="{ 'has-error' : registrationForm.firstname.$touched && registrationForm.firstname.$invalid}">
                <label for="registrationFirstName">First Name</label>
                <input type="text" class="form-control" name="firstname" ng-model="firstname" id="registrationFirstName" placeholder="first name" required>
                <span class="help-block" ng-show="registrationForm.firstname.$touched && registrationForm.firstname.$invalid">please enter your first name</span>
            </fieldset>
            <fieldset class="form-group" ng-class="{ 'has-error' : registrationForm.lastname.$touched && registrationForm.lastname.$invalid}">
                <label for="registrationLastName">Last Name</label>
                <input type="text" class="form-control" name="lastname" ng-model="lastname" id="registrationLastName" placeholder="last name" required>
                <span class="help-block" ng-show="registrationForm.lastname.$touched && registrationForm.lastname.$invalid">please enter your last name</span>
            </fieldset>   
            <fieldset class="form-group" ng-class="{ 'has-error' : registrationForm.email.$error && registrationForm.email.$invalid}">
                <label for="registrationEmail">Email</label>
                <input type="email" class="form-control" name="email" ng-model="email" id="registrationEmail" placeholder="enter mail id" required>
                <span class="help-block" ng-show="registrationForm.email.$error.required && registrationForm.email.$invalid">please enter valid email id</span>
            </fieldset>                   
            <fieldset class="form-group" ng-class="{ 'has-error' : registrationForm.password.$touched && registrationForm.password.$invalid}">
                <label for="registrationEmail">Email</label>
                <input type="password" class="form-control" ng-model="password" id="registrationPassword" placeholder="Enter your password">
                <span class="help-block" ng-show="registrationForm.password.$touched && registrationForm.password.$invalid">please enter your first name</span>
            </fieldset>
            <fieldset class="form-group ">
                <button class="btn btn-primary centered" type="submit">Submit</button>
            </fieldset>
        </form>
    </div>
</div>
